@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
header {
  padding: 10px 2%;
}

#seccionPadre {
  display: flex;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: #0a2ff1;
  font-weight: 700;
  font-size: 96px;
}
h2 {
  font-family: "Roboto Slab", serif;
  color: #0a2ff1;
  font-weight: 700;
  font-size: 45.3px;
}

#seccion2 {
  width: 50%;
  text-align: left;
  margin-left: 5%;
}
#seccion2 h3 {
  font-family: "Roboto", serif;
  color: #04146c;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}
#seccion2 p {
  font-family: "Roboto", serif;
  color: #04146c;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0px;
}
p {
  color: #04146c;
  font-weight: 700;
  font-size: 34.6px;
}
nav {
  display: flex;
}
#logo {
  width: 5%;
}

nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  font-size: 24px;
}

.activo {
  font-weight: 700;
}

nav ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: #04146c;
}
a:visited {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
div {
  text-align: center;
}
div img {
  width: 100%;
}
hr {
  height: 20px;
  background-color: #0a2ff1;
  border: 1px solid #0a2ff1;
}
#formulario {
  width: 40%;
  margin: auto;
}
label {
  display: block;
  margin-bottom: 5px;
}
form div {
  text-align: left;
  margin: 15px 0px;
}
form div input {
  width: 500px;
  height: 50px;
  border: 1px solid #0a2ff1;
}
#comentario {
  height: 100px;
  resize: none;
  width: 500px;
  font-family: "Roboto", sans-serif;
  border: 1px solid #0a2ff1;
}
#botones {
  display: flex;
  margin-top: 20px;
  width: 40%;
}
#botones input {
  margin: 5px;
  margin-left: 0;
  display: block;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  border: solid 0px;
  border-radius: 3px;
  font-size: 32px;
  color: white;
  margin-right: 10px;
}
p,
label {
  color: #04146c;
  font-size: 30.6px;
  text-align: left;
}
label {
  font-weight: 700;
}
#formulario #consulta {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 45.3px;
  color: #2c00cc;
}

#boton1 {
  background-color: #f98500;
}

#boton2 {
  background-color: #2c00cc;
}

#footer {
  height: 100px;
  background-color: #3957f1;
  width: 100%;
  text-align: left;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
#footer img {
  width: 235px;
  margin: 20px;
  margin-left: 50px;
  z-index: 5;
}

#footer #footerimg {
  width: 600px;
  position: relative;
  bottom: 270px;
  z-index: -10;
}
