@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #0a2ff1;
  font-size: 32px;
  background-color: #eff2ff;
}

h1 {
  font-size: 66.6px;
  font-weight: 700;
}
img {
  width: 100px;
  vertical-align: middle;
  margin-left: 30px;
}

p {
  display: inline;
  margin-right: 10px;
  color: #0a2ff1;
  font-size: 30px;
}
button {
  background-color: #8a9af1;
  color: white;
  font-size: 30px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}
img {
  width: 30%;
}

#imgcontainer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 4px solid #3ffff3;
}
