@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap");
body {
  font-family: "Mulish", sans-serif;
}

h1 {
  color: #04146c;
  font-weight: 900;
  font-size: 37.48px;
}
h3 {
  color: #0a2ff1;
  font-weight: 700;
  font-size: 21.5px;
}

img {
  width: 55px;
  margin-right: 15px;
}
#div1,
#div2,
#div3 {
  display: flex;
}

p {
  color: #04146c;
  font-weight: 300;
  font-size: 19.9px;
  width: 40%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
}
